{% extends "auth_base.html" %}
{% load static %}

{% block title %}
Reset Password
{% endblock title %}

{% block content %}


<!-- ================= Form-Section ============================= -->
<div class="container my-2">
    <div class="row justify-content-center">
        <div class="col-4">
            <div class="form-container">
                <!-- cross-icon -->
                <a href="{% url 'index_page' %}" style="color: white;">
                    <i class="fa-solid fa-xmark cross"></i>
                </a>
                <p class="title">Reset Password</p>
                <!-- Message ko lagi -->
                {% if messages %}
                {% for m in messages %}
                {% if m.tags == "success" %}
                <p id="hideMsg" class="text-center text-success fs-5">{{m}}</p>
                {% else %}
                <p id="hideMsg" class="text-center text-danger fs-5">{{m}}</p>
                {% endif %}
                {% endfor %}
                {% endif %}
                <!-- Message ko lagi -->
                <form class="form" method="POST" action="{% url 'email_reset_password' %}">
                    {% csrf_token %}
                    <div class="input-group">
                        <label for="email">Email</label>
                        <input type="email" name="email" id="email" placeholder="Email@gmail.com" required>
                    </div>

                    <button class="sign mt-3">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- ================= Form-Section ============================= -->


{% endblock content %}